@charset "UTF-8";

:root {
    background-color: #261420;
    --card-bg: #592A2A;
    --primary: #8C5042;
    --hover: #BF8275;
    --text-light: #D9B1A3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-dark);
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--bg-dark);
}

.logo {
    color: var(--text-light);
    font-size: 22px;
    font-weight: bold;
} 

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-light);
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--hover);
}

.menu-toggle {
    display: none;
    font-size: 28px;
    color: var(--text-light);
    cursor: pointer;
}

/* RESPONSIVO */

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--card-bg);
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

